cargo management/node-red flow code.txt
[{"id":"197d7376.9acd7d","type":"tab","label":"intelligent cargo management system","disabled":false,"info":""},{"id":"98a8b6e2.53dca8","type":"debug","z":"197d7376.9acd7d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":535,"y":113,"wires":[]},{"id":"604a7c5f.851104","type":"ibmiot in","z":"197d7376.9acd7d","authentication":"apiKey","apiKey":"321ba7af.1662e8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123","applicationId":"","deviceType":"Smartcargo","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":86,"y":168,"wires":[["26cae3bd.29dfec","164972a2.7d529d","3669dd96.17dc82"]]},{"id":"26cae3bd.29dfec","type":"function","z":"197d7376.9acd7d","name":"temperature","func":"msg.payload=msg.payload.Temperature\nglobal.set(\"temperature\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":321,"y":138,"wires":[["98a8b6e2.53dca8","3485aa08.d7c0f6"]]},{"id":"164972a2.7d529d","type":"function","z":"197d7376.9acd7d","name":"humidity","func":"msg.payload=msg.payload.Humidity\nglobal.set(\"humidity\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":309,"y":221,"wires":[["98a8b6e2.53dca8","95c2a16e.870eb"]]},{"id":"3485aa08.d7c0f6","type":"ui_gauge","z":"197d7376.9acd7d","name":"","group":"cc2191f8.b10d7","order":0,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":543,"y":206,"wires":[]},{"id":"95c2a16e.870eb","type":"ui_gauge","z":"197d7376.9acd7d","name":"","group":"cc2191f8.b10d7","order":1,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":534,"y":302,"wires":[]},{"id":"3669dd96.17dc82","type":"function","z":"197d7376.9acd7d","name":"MQ","func":"msg.payload=msg.payload.MQ\nglobal.set(\"mq\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":288,"y":280,"wires":[["9482506c.8f114","98a8b6e2.53dca8"]]},{"id":"9482506c.8f114","type":"ui_gauge","z":"197d7376.9acd7d","name":"","group":"cc2191f8.b10d7","order":1,"width":0,"height":0,"gtype":"gage","title":"mq","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":383,"wires":[]},{"id":"dd3314fc.07d288","type":"http in","z":"197d7376.9acd7d","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":114,"y":491,"wires":[["de721b20.1817a8"]]},{"id":"de721b20.1817a8","type":"function","z":"197d7376.9acd7d","name":"global.get","func":"msg.payload={\"temperature\":global.get(\"temperature\"),\"humidity\":global.get(\"humidity\"),\"mq\":global.get(\"mq\")}\nreturn msg;","outputs":1,"noerr":0,"x":301,"y":497,"wires":[["f07e57e6.8e34c8"]]},{"id":"f07e57e6.8e34c8","type":"http response","z":"197d7376.9acd7d","name":"","statusCode":"","headers":{},"x":530,"y":533,"wires":[]},{"id":"321ba7af.1662e8","type":"ibmiot","z":"","name":"sowmyaharshitha","keepalive":"60","serverName":"mtdslt.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"cc2191f8.b10d7","type":"ui_group","z":"","name":"sowmya","tab":"2a411c67.4335b4","disp":true,"width":"6","collapse":false},{"id":"2a411c67.4335b4","type":"ui_tab","z":"","name":"123456","icon":"dashboard","disabled":false,"hidden":false}]